<div class='fs-4 fw-light p-3 text-end'>Your Overall Total Email List</div>
<table class='table shadow'>
    <thead class='text-center bg-info bg-opacity-25 bg-gradient'>
        <tr>
            <th width='40px'>#</th>
            <th class='text-start ps-4'>Email ID</th>
            <th width='350px'>Since</th>
            <th width='150px'>Status</th>
        </tr>
    </thead>
    <tbody>
        {% if page_obj %}
            {% for email in page_obj %}
            <tr>
                <td class='text-center'>{{ forloop.counter0|add:page_obj.start_index }}.</td>
                <td class='ps-4 {% if not email.subscribe %}text-decoration-line-through{% endif %}'><a href="#" class='link'>{{email.email}}</a></td>
                <td class='text-center'>{{email.duration_subs}} ago </td>
                <td class='text-center {% if not email.subscribe %}fw-bold text-danger{% endif %}'>Subscribed</td>
            </tr>
            {% endfor %}
        {% else %}
            <tr><td colspan='4' class='text-center fw-bolder fst-italic'> No Data at the moment</td></tr>
        {% endif %}
    </tbody>
    <caption class='fst-italic ps-4 small'>Total Email ID: {{email_list.count}}</caption>
</table>